.card {
  background: -webkit-linear-gradient(-45deg, #ffe0e3 32%, #a7e0e5 68%);
  max-width: 10%;
  max-height: 10%;
}
.card__img {
  max-width: 10%;
  max-height: 10%;
}
.card__text {
  max-width: 10%;
  max-height: 10%;
}
