$card-padding: 16px !default;
.card {
  display: flex;
  flex-direction: row;
  padding: $card-padding;
}
.card__img {
  border: red;
}
.card__text {
  background-color: yellow;
  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: 200%;
  justify-content: flex-start;
  padding: $card-padding;
}
